*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

.main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    width: 100%;
}

.signup{
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
    margin: 10px 120px;
}

.left{
    width: 60%;
    height: 100%;
    background-color: #FEEEBD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    height: 100%;
}



.right{
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}


.header img{
    height: 120px;
    width: 120px;
    margin: auto;

}

.header h1{
    font-weight: normal;
}

.container{
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
    margin: 120px;
}


.form div{
    margin-bottom: 30px;
}

.form_grp{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.header{
    display: flex;
    flex-direction: column;
}

.form_grp label{
    margin-bottom: 7px;
}


.form input{
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
}

.form input:focus{
    outline: 0.2px solid rgba(128, 128, 128, 0.683);
}


button[type = "submit"] {
    width: 100%;
    padding: 10px;
    border: 3px solid #FEEEBD;
    background-color: #FEEEBD;
    border-radius: 10px;
    font-family: 'Poppins';
    transition: 0.4s ease-in;
    
}

button[type = "submit"]:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.183);
}

.account{
    border: none;
    background-color: white;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

.account p{
    color: #d3af42;
}